/*

!wp-config.php
!.gitignore
!README.md

!/tweet
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/sos_filter
!/wp-content/plugins/sos_twitter_shortcode
!/wp-content/themes/sos-basic
!/wp-content/themes/sos-advance
